<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="{{ url_for('.static', filename='js/ajax-min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/register.css') }}">
    <title>Register Here</title>
</head>
<body> 
    <!-- Creating the main div -->
     <div class="mainDiv">
        <div> 
            <img class="logoImage" src="{{ url_for('.static', filename='images/logo.webp')}}" />
        </div>
        <div class="mainHeader"> 
            <h3 class="registerHereHeader"> Register Here  </h3>
        </div>
        <form>
            <div> 
                <label for="firstname"> Firstname </label> <br> 
                <input id="firstname" type="text" placeholder="Enter firstname here..." required/> 
            </div>
            <div> 
                <label for="lastname"> Lastname </label> <br> 
                <input id="lastname" type="text" placeholder="Enter lastname here..." required/> 
            </div>
            <div> 
                <label for="email"> Email Address </label> <br> 
                <input id="emailAddress" type="email" placeholder="Enter your email address here..." required/> 
            </div>
            <div> 
                <label for="password"> Password </label><br> 
                <input id="password" type="password" placeholder="Enter your password here..."  required/> 
            </div>
            <div> 
                <button class="registerBtn" id="registerBtn"> REGISTER </button>
                <a href="/" class="loginBtn"> LOGIN </a>
            </div> 

        </form>

     </div>
    
     <!-- Adding javascript -->
      <script src="{{ url_for('.static', filename='js/register.js') }}"></script>
</body>
</html>